[user]
  name = Nikolay Feldman
  email = niko@niko.rocks
[core]
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = /Users/nikolay/.gitignore_global
[merge]
  tool = vimdiff
[color]
  ui = auto
[alias]
  root-dir = !git rev-parse --show-toplevel
  apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached
  hide-changes = !git update-index --assume-unchanged
  show-changes = !git update-index --no-assume-unchanged
  rebase2 = !git rebase -i HEAD~2
  rebase3 = !git rebase -i HEAD~3
  submodulepull = !git submodule update --remote --merge
  cloner = !git clone --recursive
